fastapi
uvicorn[standard]==0.30.6
sqlalchemy
pydantic
pydantic-settings
python-dotenv

langchain
langchain-community
langchain-text-splitters
langchain-google-genai
langchain-pinecone
langchain_huggingface

pinecone-client
sentence-transformers
torch

google-generativeai
huggingface-hub

pypdf
python-multipart

